<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group.payback.pixabay">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".PixabayApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_pixabay"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_pixabay"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pixabay">
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable_photo"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>